%h1 End Points

%table.table.table-striped.table-condensed
  %thead
    %tr
      %td Base URL
      %td Generated
      - Deathstare::UpstreamSession.session_states.each do |state|
        %td=state.humanize
  %tbody
    - @end_points.each do |point|
      %tr
        %td
          = point.base_url
          = link_to "(reset device cache)", reset_end_point_path(point), method:'POST'
        %td= point.upstream_sessions.count
        - Deathstare::UpstreamSession.session_states.each do |state|
          %td= point.upstream_sessions.state(state).count

